@import "../../../styles/styles";

.comic-list {
  display: flex;
  flex-wrap: wrap;

  li {
    margin-top: spacing(base);
    width: 100%;
    height: rem(300px);

    &:nth-child(1) {
      margin-top: 0;
    }
  }

  &:not(.smaller-view) {
    @include grid(md) {
      li {
        margin-left: 1%;
        width: 49%;

        &:nth-child(2) {
          margin-top: 0;
        }
      }
    }

    @include grid(xl) {
      li {
        width: 24%;

        &:nth-child(3),
        &:nth-child(4) {
          margin-top: 0;
        }
      }
    }
  }
}
